/* Global styles */
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Header */
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
  }
  
  /* Main */
  main {
    max-width: 1200px;
    margin: 20px auto;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    text-align: center;
    padding: 10px 20px;
  }

  .cards img {
    border: 1px solid #f9f9f9;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
  }

  .portrait {
    border: 1px solid rgb(175, 175, 175);
    border-radius: 15px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  }

  /* Footer */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }


  @media (max-width: 1200px) {
    .cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 780px) {
    .cards {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
  }
  