@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Raleway:wght@200&display=swap');

body {
    margin: 0 auto;
    background-color: #f9f9f9;
    font-family: "Montserrat";
}

#max-content {
  width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #1d3557;
}

p {
    font-family: sans-serif;
}

ul {
    list-style: none;
}

header {
    width: 1400px;
    margin: 15px auto;
}

#barra-head {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.barra1 {
    margin: 5px 0px 0px 70px;
}

.barra2 {
    margin: 5px 60px 0px 0px;
    text-align: right;
}

#title-ijarpa {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-size: 2em;
}

#title-ijarpa h1 {
    margin: 0 auto;
}

#barra-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.menu {
    padding: 0;
    display: flex;
  }

  .menu-item {
    position: relative;
  }
  
  .menu-item a {
    display: block;
    width: 150px;
    padding: 10px 10px;
    text-decoration: none;
    color: #1d3557;
  }
  .menu-item:hover .menu-title {
    display: block;
    width: 150px;
    padding: 10px 10px;
    text-decoration: none;
    background-color: #deedfc;
    transition: all 1s;
  }

  .menu-item:hover .sub-menu {
    display: block;
  }
  
  .sub-menu {
    position: absolute;
    left: 0;
    padding: 0;
    display: none;
    z-index: 1;
  }
  
  .sub-menu-item a {
    display: block;
    padding: 10px 10px;
    background-color: #f9f9f9;
    text-decoration: none;
  }
  .sub-menu-item:hover a {
    display: block;
    padding: 10px 10px;
    background-color: #1d3557;
    color: #eee;
    text-decoration: none;
    transition: all 0.2s;
  }

main {
    max-width: 1200px;
    margin: 50px auto;
}

#content {
    width: 1200px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#myimg {
    grid-column: 1/2;
    grid-row: 1/5;
    width: 700px;
    clip-path: circle(50% at 50% 50%);
    margin: auto;
}

.about_1 {
    grid-column: 2/3;
    grid-row: 1/4;
}

.about_2 {
    grid-column: 2/3;
    grid-row: 1/4;
    margin: 60px 0;
}

.about_3 {
    grid-column: 2/5;
    grid-row: 1/4;
    margin: 100px 0 50px;
}

#circles {
    display: grid;
    margin: 20px;
}

.circle_1 {
    grid-column: 2/3;
    grid-row: 3/4;
    padding-left: 20px;
} 

.circle_1:hover {
    grid-column: 2/3;
    grid-row: 3/4;
    padding-left: 20px;
    transition: transform .2s;
    transform: scale(1.1);
}

.circle_2 {
    grid-column: 3/4;
    grid-row: 3/4;
    padding-left: 20px;
}

.circle_2:hover {
    grid-column: 3/4;
    grid-row: 3/4;
    padding-left: 20px;
    transition: transform .2s;
    transform: scale(1.1);
}

.circle_3 {
    grid-column: 4/5;
    grid-row: 3/4;
    padding-left: 20px;
}

.circle_3:hover {
    grid-column: 4/5;
    grid-row: 3/4;
    padding-left: 20px;
    transition: transform .2s;
    transform: scale(1.1);
}

footer {
    background-color: #1d3557;
    color: white;
    padding: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* web gallery */
.images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    max-width: 100%;
}

.images img {
    width: 100%;
}

#artists {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    max-width: 100%;
}

#artists img {
    width: 100%;
}

#artist_1 {
    grid-column: 1/2;
}

#artist_2 {
    grid-column: 2/3;
}

#futureprojects ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#futureprojects li {
    display: inline-block;
    padding: 20px 50px;
}

footer .logo-text {
    margin-right: 10px;
    text-align: right;
}

.logo-instagram .logo-insta {
    width: 50px;
}

/* MOVIE STYLE */
#content-movie {
  width: 1200px;
}

#movie-img {
  width: 400px;
  clip-path: circle(50% at 50% 50%);
  float: right;
  margin-top: 130px;
}

.movie-img-2 {
  width: 300px;
  display: block;
  margin: auto;
  border-radius: 5px;
  padding: 30px;
}

.movie-opinion {
  font-size: 1.2em;
  text-align: justify;
  margin-top: 50px;
}



@media only screen and (max-width: 800px) {
    header {
      width: 100%; /* Ajusta el ancho del header para que ocupe toda la pantalla */
    }
    #barra-head {
      grid-template-columns: 1fr; /* Cambia la disposición de las columnas en el grid */
    }
    #title-ijarpa {
      font-size: 1.5em; /* Ajusta el tamaño de la fuente */
    }
    #barra-nav {
      grid-template-columns: 1fr; /* Cambia la disposición de las columnas en el grid */
    }
    #barra-nav h2 {
      padding: 5px 10px; /* Ajusta el espaciado */
    }
    main {
      max-width: 100%; /* Ajusta el ancho máximo para que ocupe toda la pantalla */
    }
    #content {
      width: 100%; /* Ajusta el ancho del contenido para que ocupe toda la pantalla */
      grid-template-columns: 1fr; /* Cambia la disposición de las columnas en el grid */
      grid-template-rows: 1fr 1fr 1fr; /* Cambia la disposición de las filas en el grid */
    }
    #myimg {
      width: 100%; /* Ajusta el ancho de la imagen */
      grid-row: 1/2;
    }
    .about_1, .about_2, .about_3 {
      grid-column: 1/2; /* Cambia la posición de las columnas en el grid */
      grid-row: 2/3;
    }
    .circle_1 {
      grid-column: 1/2; /* Cambia la posición de las columnas en el grid */
      grid-row: 3/4;
    }
    .circle_2 {
        grid-column: 1/2; /* Cambia la posición de las columnas en el grid */
        grid-row: 3/4;
        margin: 0 120px;
    }
    .circle_3 {
        grid-column: 1/2; /* Cambia la posición de las columnas en el grid */
        grid-row: 3/4;
        margin: 0 240px;
    }
  }
  