@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* variables */
:root {
    --header-bg-color: #273C75;
    --header-color: #FFFFFF;
    --header-second-color: #F5F6FA;
    --contrast-color: #0097E6;
	--second-color: #146AAE;
}

/* announcement banner */
.announcement {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #f7f7f7;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    z-index: 9999;
  }

/* header style */
body {
	font-family: 'Poppins', sans-serif;
}
header, footer{
	background-color: var(--header-bg-color);
	color: #fff;
}
.content {
    max-width: 1280px;
}
.header {
    margin: 0 auto;
    display: flex;
    padding: 20px;
}
.logo-img {
    width: 150px;
}
#header-title {
    margin: auto;
}
#header-title h1, 
#header-title p {
    margin-top: 10px;
    margin-bottom: 0;
}
.content h1 {
    font-size: 1.5em;
}

/* Navigation bar */
nav {
    margin: auto;
    justify-content: space-between;
    display: flex;
}
nav ul {
    list-style: none;
    display: flex;
}
nav ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	font-weight: 500;
	transition: all 0.3s ease;
    padding: 7px;
}
nav ul li a:hover {
	color: #a5b1c2;
}
.header-icons {
    margin: auto;
}
.content .header-icons img {
    width: 24px;
}
.header-date {
    margin: auto;
    text-align: center;
    background-color: var(--second-color);
    padding: 0.5em;
    border-radius: 3px;
    border: var(--contrast-color) 1px solid;
}
a {
    text-decoration: none;
}
.hamburger {
    display: none;
    font-size: 2rem;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
}

/* main */
.main {
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: repeat(3, 200px);
    grid-gap: 10px;
    padding: 0 10px;
}
.post-box {
    border: 1px solid white;
    background-color: #d6d6d6;
}
.hero-post-1 {
    grid-column: 2/3;
    grid-row: 1/3;
}
.hero-post-2 {
    grid-column: 2/3;
    grid-row: 3/4;
}
.left {
    grid-column: 1/2;
}
.right {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column: 3/4;
    grid-row: 1/4;
    padding: 15px;
    background-color: #d6d6d6;
}
.post-box p {
    padding-left: 10px;
}

/* Footer */
.footer-content {
    max-width: 1200px;
    margin: auto;
}
.footer {
    display: flex;
}
.logo-img-footer {
    width: 220px;
}
.footer-name {
    margin: auto;
    width: 50%;
}
.footer-name p,
.footer-name h1 {
    margin: 5px 0;
}
.footer-info {
    width: 100%;
    text-align: end;
    align-self: center;
}
.footer-info a {
    color: #fff;
}
.footer-info p {
    margin: 5px 0;
}
.copyright div {
    display: flex;
    margin: 0 auto;
}
.copyright p {
    text-align: center;
    padding: 5px;
}


@media (max-width: 960px) {
    /* img and title */
    .logo-img {
        width: 100px;
    }
    #header-title h1 {
        font-size: 1em;
    }
    #header-title p {
        font-size: 0.9em;
    }


    /* nav */
    .navigation {
        position: fixed;
        margin-top: 40px;
        opacity: 0;
        gap: 0;
        flex-direction: column;
        right: -100%;
        width: 100%;
        background-color: var(--header-bg-color);
        text-align: center;
        transition: all 0.3s;
        padding: 0;
    }
    .hamburger {
        display: block;
        background: none;
        border: none;
        font-size: 2rem;
        cursor: pointer;
    }
    .navigation.active {
        left: 0;
        opacity: 100;
    }
    .navigation li {
        background-color: var(--header-bg-color);
        padding: 15px 0;
        margin: auto;
        width: 100%;
        border-bottom: #146AAE 1px solid;
        transition: all 0.3s;
    }
    .navigation li:hover {
        background-color: var(--second-color);
    }


    /* main */
    .main {
        grid-template-columns: 4fr 2fr;
        grid-template-rows: repeat(5, 200px);
        grid-gap: 10px;
    }
    .hero-post-1 {
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .hero-post-2 {
        grid-column: 1/3;
        grid-row: 2/3;
    }
    .right {
        grid-column: 1/3;
        grid-row: 3/4;

        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
    }
    .right-post-3 {
        display: none;
    }
    .left-post-3 {
        grid-column: 1/3;
        grid-row: 4/5;
    }
    .left-post-1 {
        grid-column: 1/2;
        grid-row: 5/6;
    }
    .left-post-2 {
        grid-column: 2/3;
        grid-row: 5/6;
    }

    /* footer */
    footer {
        padding: 10px;
    }
    .footer-name {
        text-align: center;
    }
    .footer-name h1 {
        margin: 5px 0;
        font-size: 1.2em;
    }
    .logo-img-footer {
        width: 180px; 
    }
    .copyright div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }
    .modification-info {
        grid-column: 1/3
    }
    .copyright p {
        margin: 0;
    }
}


@media (max-width: 500px) {
    header {
        padding: 10px 0;
    }
    #header-title p {
        display: none;
    }
    #header-title h1 {
        text-align: center;
    }
    .logo-img {
        width: 70px;
    }
    .header-icons {
        grid-column: 3/4;
        grid-row: 1/2;
        z-index: 1;
    }
    .navigation {
        margin-top: 25px;
    }
    .navigation li {
        padding: 8px 0 8px 0;
    }
    .navigation a {
        font-size: 0.8em;
    }

    /* main */
    .main {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 200px) 400px;
        grid-gap: 10px;
    }
    .post-box {
        grid-column: 1/2;
    }
    .hero-post-1 {
        grid-row: 1/2;
    }
    .left-post-1 {
        grid-row: 2/3;
    }
    .left-post-2 {
        grid-row: 3/4;
    }
    .hero-post-2 {
        grid-row: 4/5;
    }
    .right {
        grid-column: 1/2;
        grid-row: 5/6;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }

    /* Footer */
    .footer {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }
    .footer-info {
        text-align: center;
    }
    .logo-img-footer {
        margin: auto;
    }
    footer hr {
        margin: 20px 0;
    }
    .copyright div {
        display: grid;
        grid-template-columns: 1fr;
    }
    .modification-info {
        grid-column: 1/2;
    }
}