@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* variables */
:root {
	--container-color: #1d3557;
	--second-color: #0096C7;
	--text-color: #1B263B;
	--bg-color: #f9f9f9;
}
* {
	box-sizing:border-box;
	font-family: 'Poppins', sans-serif;
	max-width: 800px;
	margin: 0 auto;
}
body{
	background-color: var(--bg-color);
}
header{
	margin-top: 20px;
	background-color: var(--container-color);
	border-radius: 15px;
	box-shadow: 0 20px 25px rgba(0, 0, 0, 0.2);
	height: 250px;
	display: grid;
	grid-template-columns: 1fr 3fr;
	align-content: center;
	align-items: center;
}
header img{
	max-height: 220px;
	box-shadow: 0 20px 25px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

#header-name{
	color: white;
	font-size: 3.5rem;
	background-color: var(--container-color);
	text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	text-align: center;
}

/* main */
.content{
	margin-top: 40px;
}
hr{
	margin: 10px auto;
}
.content-title{
	font-size: 2rem;
	text-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.content-list{
	padding: 20px;
}
.content-list ul li{
	font-size: 1.2rem;
	padding-top: 10px;
}

/* footer */
.footer{
	margin-top: 40px;
	background-color: var(--container-color);
	color: var(--bg-color);
	border-radius: 15px;
	box-shadow: 0 -10px 25px rgba(0, 0, 0, 0.2);
	height: 150px;
	display: flex; 
	justify-content: center; 
	flex-direction: column; 
}
.footer p{
	font-size: 1.5rem;
	text-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.footer .last-modification{
	color: yellow;
	font-size: 1.2rem;
}


/* Responsive */
@media (max-width: 850px) {
	.container {
		max-width: 680px;
		margin: 0 auto;
		padding: 0 10px;
	}
	#header {
		height: 150px;
	}
	#header img {
		max-height: 120px;
	}
	#header h1 {
		font-size: 2rem;
	}
}

@media (max-width: 500px) {
	.content-title {
		font-size: 1.5rem;
	}
	.content-list ul li{
		font-size: 1rem;
		padding-top: 10px;
	}
}

/* Responsive */
@media (max-width: 400px) {
	#header {
		height: 150px;
	}
	#header img {
		max-height: 100px;
	}
	#header h1 {
		font-size: 1.5rem;
	}
	.content-title {
		font-size: 1.2rem;
	}
	.footer p{
		font-size: 1rem;
	}
	.footer .last-modification {
		font-size: 1rem;
	}
}